/* style.css */
/* style.css */
nav {
    background-color:rgb(80, 116, 8);
    overflow: hidden;
    display:flex;
}

nav a {
    
    float:left;
    display: flex;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    color: yellow;
}

body {
    font-family: Arial, sans-serif;
    background-color:rgb(138, 121, 171);
    margin: 0;
    padding: 0;

}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    background-color: #ddd;
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #151414;
    padding: 10px;
}

th, td {
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}